#home-one {
    margin-top: .05%;
    background: black;;
    color: silver;
    border-radius: 5px;
}

#home-two {
    margin-top: .25%;
    background: black;
    color: silver;
    border-radius: 5px;
}